- provide(:title, 'Help')

.jumbotron
  %h1 Contact the Traffic Hero team
  %a{:href => "mailto:sabsowitz@yahoo.com"} Email the Developer
  %br/
  %a{:href => "http://www.github.com/sabsowitz"} GitHub