// Fonts
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700&effect=3d|3d-float");

// Map
#map-canvas { height: 100%; }
// Makes Map Controls Render Correctly
.gmnoprint img { max-width: none; }

// Banner
#banner {
  position:relative;
}
#image {    
  position:relative;
  width: 100%;
}
.font-effect-3d-float { 
  z-index:100;
  position:absolute;    
  color: white;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: 4px 4px 4px black; 
  font-size:80px;
  font-weight:700;
  left:1%;
  top:-7%;
}

// Background Image
.container {
  background-image: url("/assets/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

// Jumbotron Styling
.jumbotron {
  background-color: #FF9900;
  width: 40%;
  height: 90%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  padding-top: 2%;
  opacity: 0.9; 
  border-radius: 25%;
  box-shadow: 20px 20px 20px;
}

.jumbotron h1 {
  color: white;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-shadow: 8px 8px 8px black;
}
.jumbotron h2 {
  color: white;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 50px;
  text-shadow: 6px 6px 6px black;
}
.jumbotron .form_container h3 {
  color: white;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-shadow: 6px 6px 6px black;
}
.jumbotron p {
  color: white;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
  font-size: 26px;
  text-shadow: 6px 6px 6px black;
}

// Signup form div 
.form_container {
  width: 50%;
  height: auto;
  margin-left: auto ;
  margin-right: auto ;
  padding-bottom: 5%;
  padding-top: 5%;
  color: white;
}
.form_email {
  color: white;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: 6px 6px 6px black;
  font-weight: 400;
  font-size: 32px;
}
.form_password {
  color: white;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: 6px 6px 6px black;
  font-weight: 400;
  font-size: 32px;
}

// Top-Bar Styling
// Before
.top-bar li a:not(.button) {
    background: #FF6600;
    color: white;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-shadow: 4px 4px 4px black;
    }
// After
.top-bar li a:not(.button):hover {
    background:white !important;
    color: #FF6600 !important;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-shadow: 4px 4px 4px black;
    }
// Before
.top-bar ul li.active:not(.has-form) a:not(.button) {
  background: #FF6600;
  color:white;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-shadow: 4px 4px 4px black;
  }
// After
.top-bar ul li.active > a {
  background: white;
  color: #FF6600;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-shadow: 4px 4px 4px black;
}

/* forms */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}